:root {
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, "Apple Color Emoji",
    "Segoe UI Emoji";
  line-height: 1.4;
  font-weight: 400;
  color: #0f172a;
  background: radial-gradient(1200px 600px at 20% 0%, #eef2ff 0%, transparent 60%),
    radial-gradient(1200px 600px at 80% 10%, #ecfeff 0%, transparent 60%), #f8fafc;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}
